<div *ngIf="user.length > 0" class="jumbotron">
  <h1 class="display-3">My site</h1>
  <p class="lead">Previous searches for {{user}}: </p>
  <hr class="my-4">
  <!-- Must fin a way to list up all previous searches.  -->
  <p>List up previous searches here. </p>

  <!-- <div>
    <ul *ngFor="let listSearch og searches">
      <li>{{listSearch}}</li>
    </ul>
  </div> -->
  <p>{{searches}}</p>
</div>
<!-- <p class="lead">
  <a class="btn btn-primary btn-lg" href="#" role="button" (click)="setLogInStatus(true)">Learn more</a>
</p> -->

<!-- If not logged in, only log in component should be shown -->
<app-log-in *ngIf="user.length == 0"></app-log-in>
