<div *ngIf="user.length > 0" class="jumbotron">
  <h1 class="display-3">My site</h1>
  <p class="lead">Previous searches for {{user}}: </p>
  <hr class="my-4">
  <div>
    <ul class="list-group">
      <!-- List up all previous searches TODO: MAKE DYNAMIC OF SOME SORT -->
      <li class="list-group-item" *ngFor="let list of searches" >Searchword: <a routerLink="/search" (click)="clickPreviousSearch(list['content'])">{{list['content']}}</a> <span class="font-italic"> --- {{list['time']}}</span>  </li>
    </ul>
  </div>
</div>

<!-- If not logged in, only log in component should be shown -->
<app-log-in *ngIf="user.length == 0"></app-log-in>
