<!-- Home page for regions -->

<br>
    <h1>Regions</h1>
        <table border="2">
            <tr ng-repeat-start="region in regions">
                <td>
                    'Skriv regionnavn'
                    <em>{{expanded}}</em>
                </td>
                <td>Id: 'skriv id'</td>
                <td>
                    <button (click)="expand($event)">
                        Expand
                    </button>
                </td>
            </tr>
            <div *ngIf="expanded==true">
                <td colspan="3">
                    <ul>
                        <!-- <li ng-repeat="value in group.values"> -->
                        <li>
                            'skriv inn verdier'
                        </li>
                    </ul>
                </td>
            </div>
        </table>
