<br>
<h2>Register new user</h2>
<br>
<form class="registerFields">
  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
      <input #mail [style.borderColor]='errorColorEmail' type="email" class="form-control" id="inputEmail3" placeholder="Email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-10">
      <input #pass1 [style.borderColor]='errorColorPass' type="password" class="form-control" id="inputPassword3" placeholder="Password">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-10">
      <input #pass2 [style.borderColor]='errorColorPass' type="password" class="form-control" id="inputPassword3" placeholder="Password">
      <small class="form-text text-muted">Password should be longer than 7 charachters</small>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary" (click)="newUserClick(mail.value, pass1.value, pass2.value)">New User</button>
    </div>

  </div>
</form>
<!-- Only shows after onClik -->
<div class="container">
  <ul>
    <li style="color: red;" *ngFor="let eMessage of errorMessage">{{eMessage}}</li>
  </ul>
  <p style="color:green;">{{sucsessMessage}}</p>
</div>