<div>
  <h1 class="ov">Welcome to the cloud</h1>
</div>
<p>
  Here you can see word clouds for various types of crimes in Norway, the numbers used are crimes per 1000 inhabiants. Loading the various clouds may take several seconds.
</p>
<div>
  <button (click)="choose($event,'all')">All</button>
  <button (click)="choose($event,'property')">Property</button>
  <button (click)="choose($event,'violence')">Violence</button>
  <button (click)="choose($event,'drugs')">Drugs</button>
  <button (click)="choose($event,'order')">Order</button>
  <button (click)="choose($event,'traffic')">Traffic</button>
  <button (click)="choose($event,'other')">Other</button>
</div>

<div [ngSwitch]="type">
  <angular-tag-cloud *ngSwitchCase="'all'" angular-tag-cloud [data]="data1" [width]="options.width" [height]="options.height"
    [overflow]="options.overflow">
  </angular-tag-cloud>
  <angular-tag-cloud *ngSwitchCase="'property'" angular-tag-cloud [data]="data2" [width]="options.width" [height]="options.height"
    [overflow]="options.overflow">
  </angular-tag-cloud>
  <angular-tag-cloud *ngSwitchCase="'violence'" angular-tag-cloud [data]="data3" [width]="options.width" [height]="options.height"
    [overflow]="options.overflow">
  </angular-tag-cloud>
  <angular-tag-cloud *ngSwitchCase="'drugs'" angular-tag-cloud [data]="data4" [width]="options.width" [height]="options.height"
    [overflow]="options.overflow">
  </angular-tag-cloud>
  <angular-tag-cloud *ngSwitchCase="'order'" angular-tag-cloud [data]="data5" [width]="options.width" [height]="options.height"
    [overflow]="options.overflow">
  </angular-tag-cloud>
  <angular-tag-cloud *ngSwitchCase="'traffic'" angular-tag-cloud [data]="data6" [width]="options.width" [height]="options.height"
    [overflow]="options.overflow">
  </angular-tag-cloud>
  <angular-tag-cloud *ngSwitchCase="'other'" angular-tag-cloud [data]="data7" [width]="options.width" [height]="options.height"
    [overflow]="options.overflow">
  </angular-tag-cloud>
</div>


<!-- 
  this code did the same thing as the code above in an effort to increase loading times,
   but it did not function properly so was discarded.
  
  <div>
  <h1 class="ov">Welcome to the cloud</h1>
</div>
<div>
  <button (click)="choose('all')">All</button>
  <button (click)="choose('property')">Property</button>
  <button (click)="choose('violence')">Violence</button>
  <button (click)="choose('drugs')">Drugs</button>
  <button (click)="choose('order')">Order</button>
  <button (click)="choose('traffic')">Traffic</button>
  <button (click)="choose('other')">Other</button>
</div>
<div>
  <angular-tag-cloud [ngStyle]="{'display':type === 'all' || type === 'init' ? 'block' : 'none' }"
   angular-tag-cloud [data]="data1" [width]="options.width" [height]="options.height"
    [overflow]="options.overflow">
  </angular-tag-cloud>
  <angular-tag-cloud [ngStyle]="{'display':type === 'property' || type === 'init' ? 'block' : 'none' }" angular-tag-cloud [data]="data2" [width]="options.width" [height]="options.height"
    [overflow]="options.overflow">
  </angular-tag-cloud>
  <angular-tag-cloud [ngStyle]="{'display':type === 'violence' || type === 'init' ? 'block' : 'none' }" angular-tag-cloud [data]="data3" [width]="options.width" [height]="options.height"
    [overflow]="options.overflow">
  </angular-tag-cloud>
  <angular-tag-cloud [ngStyle]="{'display':type === 'drugs' || type === 'init' ? 'block' : 'none' }" angular-tag-cloud [data]="data4" [width]="options.width" [height]="options.height"
    [overflow]="options.overflow">
  </angular-tag-cloud>
  <angular-tag-cloud [ngStyle]="{'display':type === 'order' || type === 'init' ? 'block' : 'none' }" angular-tag-cloud [data]="data5" [width]="options.width" [height]="options.height"
    [overflow]="options.overflow">
  </angular-tag-cloud>
  <angular-tag-cloud [ngStyle]="{'display':type === 'traffic' || type === 'init' ? 'block' : 'none' }" angular-tag-cloud [data]="data6" [width]="options.width" [height]="options.height"
    [overflow]="options.overflow">
  </angular-tag-cloud>
  <angular-tag-cloud [ngStyle]="{'display':type === 'other' || type === 'init' ? 'block' : 'none' }" angular-tag-cloud [data]="data7" [width]="options.width" [height]="options.height"
    [overflow]="options.overflow" >
  </angular-tag-cloud>
</div> -->