angular-tag-cloud > span.w10 { font-size: 550%; }
angular-tag-cloud > span.w9 { font-size: 500%; }
angular-tag-cloud > span.w8 { font-size: 450%; }
angular-tag-cloud > span.w7 { font-size: 400%; }
angular-tag-cloud > span.w6 { font-size: 350%; }
angular-tag-cloud > span.w5 { font-size: 300%; }
angular-tag-cloud > span.w4 { font-size: 250%; }
angular-tag-cloud > span.w3 { font-size: 200%; }
angular-tag-cloud > span.w2 { font-size: 150%; }
angular-tag-cloud > span.w1 { font-size: 100%; }

angular-tag-cloud > span.w5 { color: red; }