<br/>
<div>
  <h2 class="ov">Word Clouds</h2>
  <p>
    In this page you can see word clouds for various types of crimes in Norway, the numbers used are crimes per 1000 inhabitants.
    Loading the various clouds may take several seconds.
  </p>
</div>

<div class="buttonPanel">
  <button class="btn selected" (click)="choose($event,'all')">All</button>
  <button class="btn" (click)="choose($event,'property')">Property</button>
  <button class="btn" (click)="choose($event,'violence')">Violence</button>
  <button class="btn" (click)="choose($event,'drugs')">Drugs</button>
  <button class="btn" (click)="choose($event,'order')">Order</button>
  <button class="btn" (click)="choose($event,'traffic')">Traffic</button>
  <button class="btn" (click)="choose($event,'other')">Other</button>
</div>
<br/>
<div class="bg-primary tagCloud" [ngSwitch]="type">
  <angular-tag-cloud *ngSwitchCase="'all'" angular-tag-cloud [data]="data1" [width]="options.width" [height]="options.height"
    [overflow]="options.overflow">
  </angular-tag-cloud>
  <angular-tag-cloud *ngSwitchCase="'property'" angular-tag-cloud [data]="data2" [width]="options.width" [height]="options.height"
    [overflow]="options.overflow">
  </angular-tag-cloud>
  <angular-tag-cloud *ngSwitchCase="'violence'" angular-tag-cloud [data]="data3" [width]="options.width" [height]="options.height"
    [overflow]="options.overflow">
  </angular-tag-cloud>
  <angular-tag-cloud *ngSwitchCase="'drugs'" angular-tag-cloud [data]="data4" [width]="options.width" [height]="options.height"
    [overflow]="options.overflow">
  </angular-tag-cloud>
  <angular-tag-cloud *ngSwitchCase="'order'" angular-tag-cloud [data]="data5" [width]="options.width" [height]="options.height"
    [overflow]="options.overflow">
  </angular-tag-cloud>
  <angular-tag-cloud *ngSwitchCase="'traffic'" angular-tag-cloud [data]="data6" [width]="options.width" [height]="options.height"
    [overflow]="options.overflow">
  </angular-tag-cloud>
  <angular-tag-cloud *ngSwitchCase="'other'" angular-tag-cloud [data]="data7" [width]="options.width" [height]="options.height"
    [overflow]="options.overflow">
  </angular-tag-cloud>
</div>