<div>
    <h2>Crimelist</h2>
    <div>
        <div class="left-half">
            <span>ID</span>
            <span>Name</span>
            <span>Amount of crimes</span>
            <span>Crimes every 1000</span>
            <ul class="munics" *ngFor="let crime of renderlist" [class.selected]="municipality === selectedMunic" (click)="onSelect(municipality)">
                <li>
                    <span class=" badge ">{{crime.id}}</span>
                    <span>{{crime.municipacility}}</span>
                    <span>{{crime.all_1000}}</span>
                    <span>{{crime.all_abs}}</span>
                </li>
            </ul>
        </div>

    </div>
</div>