.selected {
  background-color: #cfd8dc !important;
  color: white;
}
.munics {
  /*margin: 0 0 2em 0;*/
  list-style-type: none;
  padding: 0;
}
.munics li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #eee;
  /*margin: 0.5em;*/
  padding: 0.3em 0;
  height: 30px;
  border-radius: 4px;
}

.munics li.selected:hover {
  background-color: #bbd8dc !important;
  color: white;
}
.munics li:hover {
  color: #607d8b;
  background-color: #ddd;
  left: 0.1em;
}
.munics .text {
  position: relative;
  top: -3px;
}
.badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607d8b;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 30px;
  margin-right: 0.8em;
  border-radius: 4px 0 0 4px;
  max-width: 30px;
}

/*list in crime statistics*/
span {
  display: inline-block;
  min-width: 80px;
}

.left-half {
  flex: 1 0 60%;
  overflow-y: scroll;
}

.right-half {
  flex: flex 1 0 30%;
  width: 300px;
  position: fixed;
  right: 0;
  top: 60px;
  background-color: grey;
}
/* https://developer.mozilla.org/en-US/docs/Web/CSS/flex */
.flex-container {
  display: flex;
}
.hidden {
  display: none;
}
